.container{
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;
}

input[type="checkbox"] {
  opacity: 0;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  pointer-events: none;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

input[type="checkbox"]:checked + .background{
   background-color: #FF8615;
   border-width: 0px;
}